@model LOL.Models.Directing

@{
    ViewBag.Title = "Details";
}

<h2>Director Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmId)
        </dd>

    </dl>
</div>
<p class="linksTileDdetails">

    @Html.ActionLink("Edit", "Edit", new { id = Model.DirectingId }) |
    @Html.ActionLink("Back to List", "Index")
    </>
