@model LOL.Models.Acting

@{
    ViewBag.Title = "Details";
}

<h2>Actor Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmId)
        </dd>

    </dl>
</div>
<p class="linksTileDdetails">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
